body {
    display: grid;
    grid-template-areas:
        "nav"
         "main"
         "footer";
    grid-template-rows: 1fr 5fr 1fr;
    width: 100vw;
    height: 100vh;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

nav li, footer li {
    display: inline;
}

.nav-left, .footer-left {
    float: left;
}

.nav-right, .footer-right {
    float: right;
}
